@model IdentityServerAuth.Contracts.ViewModels.LoginViewModel

<div>
    <form asp-controller="Auth" asp-action="Login" method="post">
        <input type="hidden" asp-for="ReturnUrl">

        <div>
            <label>Email</label>
            <input asp-for="Email">
        </div>
        <div>
            <label>Password</label>
            <input asp-for="Password">
        </div>
        <button type="submit">Sign In</button>
    </form>

    <label>Don't have an account yet ?</label>
    <div>
        <a asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up here !</a>
        @* you should never lose the returnUrl *@
    </div>
</div>